div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
section {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin-left: 40%;
    margin-top: 20px;
}
.cross-in {
    background-image: url(./resources/Cross.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 25px;
}
.o-in {
    background-image: url(./resources/O.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 25px;
}
.win-status {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 25px;
}
h1 {
    justify-content: center!important;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin-top: 200px;
    margin-left: 785px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 30px;
    font-size: large;
}